*,
*:before,
*:after {
 box-sizing: border-box;
}
a {
   text-decoration: none;
}
li {
   list-style: none;
}
.container {
   max-width: 1200px;
   margin: 0 auto;
   display: grid;
   grid-template-areas: 
   "h h h"
   "m m s"
   "f f f";
}
.header {
   max-width: 1200px;
   grid-area: h;
}
.header-text {
   text-align: center;
}
.main {
   grid-area: m;
}
.main-flex {
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
}
.main-flex-li {
   padding: 5px;
}
.main-flex-li:hover {
   border-bottom: 2px solid blue;
   transition: all ease 0.1s;
}
.sidebar {
   grid-area: s;
}
.footer {
   grid-area: f; 
}
.footer-text {
   text-align: center;
}