<div class="container">
   <header class="header">
      <div class="header-text">Hello</div>
   </header>
   <div class="main">
         <ul class="main-flex">
          <li *ngFor="let item of items" class="main-flex-li" (click)="search($event)" ><a href="#">{{item}}</a></li>
         </ul>
   </div>
   <div class="sidebar">
      <div class="sidebar-text">Привет</div>
   </div>
   <div class="footer">
      <div class="footer-text">Это футер</div>
      User name <input type="text" [(ngModel)]="userName">
      <input type="text" #newSelectInput (input)="selectInput(newSelectInput.value)">
   </div>
</div>
<app-new-component
*ngIf="modal"
(close)="modal=false"
[nameOfFruit]="nameOfFruit"
[id]="id"
[growthTime]="growthTime"
[maxHarvest]="maxHarvest"
[sizeOfFruit]="sizeOfFruit"
[smoothness]="smoothness"
></app-new-component>
<div *ngIf="toggle">
  <!-- <app-card></app-card> -->
</div>
<router-outlet></router-outlet>
