*,
*:before,
*:after {
 box-sizing: border-box;
 font-size: 24px;
}
a {
   text-decoration: none;
}
ul {
   padding: 0px 10px;
}
li {
   list-style: none;
}
.container {
   max-width: 1200px;
   margin: 0 auto;
   display: grid;
   grid-template-areas:
   "h h h"
   "m m s"
   "f f f";
}
.header {
   background: #44a5c8;
   max-width: 1200px;
   grid-area: h;
   border: #333 solid 3px;
}
.header-wrap {
   padding-left: 20px;
   text-align: center;
   display: flex;
   align-items: center;
   justify-content: space-between;
   overflow: hidden;
}
.header-flex {
  padding: 10px;
  max-width: 800px;
  display: flex;
  justify-content: space-around;
  flex-wrap: nowrap;
}
.header-form {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.header-img {
  width: 100%;
  max-width: 260px;
  height: auto;
}
.header-label {
  display: flex;
  max-width: 500px;
  justify-content: space-between;
}
.header-input {
  max-width: 180px;
  max-height: 30px;
  align-self: flex-end;
  margin-right: 12px;
}
.header-button {
  display: inline-block;
  background-color: #7b38d8;
  border-radius: 10px;
  border: 4px double #cccccc;
  color: #eeeeee;
  text-align: center;
  font-size: 14px;
  padding: 5px;
  max-width: 120px;
  transition: all 0.5s;
  cursor: pointer;
  }
.header-button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
  }
.header-button span:after {
  content: '';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -10px;
  transition: 0.5s;
  }
.header-button:hover {
  background-color: #c213c8;
  }
.header-button:hover span:after {
  opacity: 1;
  }
  .header-text {
    color: #4d01b7;
    margin-right: 5px;
    font-style: italic;
    font-weight: bold;
  }
.main {
   background: #69c844;
   grid-area: m;
   border: #333 solid 3px;
   text-shadow: 1px 1px 2px rgb(238, 69, 69), 0 0 1em rgb(34, 255, 0), 0 0 0.2em rgb(104, 104, 233);
}
.main-flex {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
}
.main-flex-li {
   padding: 6px;
   position: relative;
   border-radius: 10px;
   border: rgb(34, 80, 208) 2px solid;
   margin: 2px;
}
.main-flex-li:before {
   content: "";
   bottom: 0;
   left: 2%;
   height: 4px;
   position: absolute;
   transition: all ease 0.1s;
   background: rgb(34, 80, 208);
}
.main-flex-li:hover:before {
   width: 95%;
}
.sidebar {
   background: #c844b2;
   grid-area: s;
   border: #333 solid 3px;
}
.sidebar-p {
  padding: 0 60px;
  text-align: center;
  font-style: italic;
  font-weight: 900;
  font-size: 24px;
  color: rgb(26, 208, 208);
  text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
}
.sidebar-text {
   text-align: center;
}
.footer {
   background: #da6871;
   grid-area: f;
}
.footer-text {
   text-align: center;
}
@media(max-width:720px) {
  .header-wrap {
    padding-left: 10px;
  }
  .header-flex {
    max-width: 550px;
  }
  .header-img {
    max-width: 200px;
    max-height: 80px;
    margin-left: 10px;
  }
  .header-wrap {
    max-height: 80px;
  }
  .header-label {
    flex-direction: column-reverse;
  }
  .header-button {
    max-width: 80px;
    padding: 2px;
  }
  .header-input {
    margin-right: 0px;
    max-height: 22px;
    margin-top: 2px;
  }
  *,
  *:before,
  *:after {
    font-size: 20px;
}
.sidebar-p {
  padding: 0 40px;
}
}
@media(max-width:440px) {
  .header-flex {
    flex-direction: column;
  }
  .header-img {
    max-height: 120px;
    max-width: 260px;
    margin-left: 0px;
  }
  .sidebar-p {
    padding: 0 30px;
  }
}
