<div class="container">
   <header class="header">
    <div class="header-flex">
      <img src="{{headerImg}}" alt="pokeapi" class="header-img">
      <div class="header-wrap">
        <p class="header-text">Выбери фрукт:</p>
        <form action="#" class="header-form">
          <label for="/" class="header-label">
          <input type="text" class="header-input" [(ngModel)]="this.choosedFruit" [ngModelOptions]="{standalone: true}">
          <button class="header-button">
            <span>Готово</span>
          </button>
        </label>
        </form>
      </div>
    </div>
   </header>
   <div class="main">
         <ul class="main-flex">
          <li *ngFor="let item of items" class="main-flex-li" (click)="search($event)" ><a href="#">{{item}}</a></li>
         </ul>
   </div>
   <div class="sidebar">
      <p class="sidebar-p">S</p>
      <p class="sidebar-p">i</p>
      <p class="sidebar-p">d</p>
      <p class="sidebar-p">e</p>
      <p class="sidebar-p">b</p>
      <p class="sidebar-p">a</p>
      <p class="sidebar-p">r</p>
   </div>
   <div class="footer">
   </div>
</div>
<app-card
*ngIf="modal"
(close)="modal=false"
[nameOfFruit]="nameOfFruit"
[id]="id"
[growthTime]="growthTime"
[maxHarvest]="maxHarvest"
[sizeOfFruit]="sizeOfFruit"
[smoothness]="smoothness"
(outFruitName)="addName($event)"
></app-card>
<router-outlet></router-outlet>
