<div class="container">
   <header class="header">
      <div class="header-text">Hello</div>
   </header>
   <div class="main">
         <ul class="main-flex">
            <li class="main-flex-li" (click)="modal = true"><a href="#">cheri</a></li>
            <li class="main-flex-li" (click)="modal = true"><a href="#">chesto</a></li>
            <li class="main-flex-li" (click)="modal = true"><a href="#">pecha</a></li>
            <li class="main-flex-li" (click)="modal = true"><a href="#">rawst</a></li>
            <li class="main-flex-li" (click)="modal = true"><a href="#">aspear</a></li>
            <li class="main-flex-li" (click)="modal = true"><a href="#">leppa</a></li>
            <li class="main-flex-li" (click)="modal = true"><a href="#">oran</a></li>
            <li class="main-flex-li" (click)="modal = true"><a href="#">persim</a></li>
            <li class="main-flex-li" (click)="modal = true"><a href="#">lum</a></li>
            <li class="main-flex-li" (click)="modal = true"><a href="#">sitrus</a></li>
            <li class="main-flex-li" (click)="modal = true"><a href="#">figy</a></li>
            <li class="main-flex-li" (click)="modal = true"><a href="#">wiki</a></li>
            <li class="main-flex-li" (click)="modal = true"><a href="#">mago</a></li>
            <li class="main-flex-li" (click)="modal = true"><a href="#">aguav</a></li>
            <li class="main-flex-li" (click)="modal = true"><a href="#">iapapa</a></li>
            <li class="main-flex-li" (click)="modal = true"><a href="#">razz</a></li>
         </ul>
   </div>
   <div class="sidebar">
      <div class="sidebar-text">Привет</div>
   </div>
   <div class="footer">
      <div class="footer-text">Это футер</div>
   </div>
</div>
<app-new-component
*ngIf="modal"
(close)="modal=false"
title="Modal Window"
></app-new-component>
<div *ngIf="toggle">
  <!-- <app-card></app-card> -->
</div>
<router-outlet></router-outlet>
